{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Давыдкин Евгений{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link_css %}{% endblock link_css %}
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'contact' %}">Контакты</a></li>
        <li><a href="{% url 'blog_list' %}">Блог</a></li>
    </ul>
    
</nav>

{% block content %}
{% endblock content %}

</body>
</html>